---
layout: default
home-title: About
---

{% include header.html %}

<div class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
    {% if page.header-img %}
    <img class="header-img" src="{{ page.header-img | prepend: site.baseurl }}" alt="">
    {% endif %}
</div>

<main class="g-container home-content">
    <div class="post-content">
        <article class="markdown-body">
        <h2>About the Author</h2>
        <p>
            My name is Matthew Burke, and I am using this website to share some of the things I'm interested in. During the weekdays, I work as a data scientist, and the rest of the time I like to play video games, hike, read sci-fi, watch stupid comedies, hang out with friends and family and spend far too much time shopping online for shoes but never actually buy any.
        </p>
        <h3>Data Science/Visualization</h3>
        <p>
            Taking raw data and condensing it into information either through statistical analysis or transforming it into a easily consumable visual representation is an enjoyable and ever-necessary task. Hopefully I can share cool projects or things I've learned while doing so.
        </p>
        <h3>Creative Coding</h3>
        <p>
            I recently found a whole community of people who use code to create a variety of art forms, and due to my lack of drawing capabilities/general creativity, I find myself drawn towards this. It's a great combination of structure and organized chaos, and most importantly, I don't have to embarrass myself with my lack of hand-eye coordination.
        </p>
    </article>
</main>

{% include footer.html %}
